<?xml version="1.0" encoding="UTF-8"?>
 <widget xmlns="http://www.w3.org/ns/widgets" height="200" id="http://LoveTest" version="2.0" viewmodes="windowed fullscreen" width="200">
    
    <name short="LoveTest">LoveTest</name>    

    <description>
       Love test for couple.
    </description>
    
    <!-- Note: Author href MUST BE Url encoded 
        @see http://en.wikipedia.org/wiki/Percent-encoding -->    
    <author email="syntasium@gmail.com" href="http://www.syntasium.com">
        Syntasium
    </author>
    
    <icon src="icon.png"/>

    <content src="index.html"/>
    
    <license>
	   inspirare studio , 2013.
    </license>
    
   	<feature name="nokia://s40.nokia.com/SAWRT/2.3" required="true" />
</widget>